@model List<Librarian.ViewModels.Library.LibraryViewModel>
@{
    ViewData["Title"] = "Библиотекарь";
}



<div ng-app="library">
    <div ng-controller="libraryController  as library">    
       <div ng-hide="library.enterLibrary" style="background:url(/images/library.jpg) no-repeat;width: 100%;height: 37vw;">
            @foreach (Librarian.ViewModels.Library.LibraryViewModel lib in Model)
            {
                <div>                               
                    <a ng-click="library.selectLibrary('@lib.Id')" ng-init="library.libId='@lib.Id'" style="color: ivory;font-size:-webkit-xxx-large;">ВОЙТИ В БИБЛИОТЕКУ @lib.Name</a>                    
                </div>
            }
       </div>
        <div id="list-books" ng-show="library.enterLibrary" style="display:none;background:url(/images/table.jpg) no-repeat;width:100%;min-height: 37vw;">
            <div>
                @*<a ng-click="library.addBook()">Добавить книгу в библиотеку</a>*@<br>
                <div ng-hide="library.newBookForm">
                    <span>Название: </span><input type="text" ng-model="library.newBookName">
                    <span>Автор: </span><input type="text" ng-model="library.newBookAuthor">
                    <button ng-click="library.addNewBook(library.newBookName, library.newBookAuthor)">Добавляю</button>
                </div>
            </div>
            <div ng-show="library.showMessage">
                <span id="" ng-bind="library.message" style="color:beige;font-size:larger;"></span><br>
                <a ng-click="library.selectLibrary(library.libId)" style="color:beige;font-size:larger;"><span >Вернуться к списку книг</span></a>
            </div>
            <table ng-show="library.showTable" style="color:beige;font-size: larger;">                         
                <tbody>
                    <tr ng-repeat="book in library.books">                    
                        <td><a ng-click="library.ratingBook(book.Id)" style="color:beige"><span ng-bind="book.Author+'   '+book.Name"></span></a></td>
                        <td><a ng-click="library.takeBook(book.Id)" style="color:beige" ng-show="book.IsInLibrary"><span>Взять</span></a></td>
                        <td><a ng-click="library.returnBook(book.Id)" style="color:beige" ng-hide="book.IsInLibrary"><span>Вернуть книгу</span></a></td>                                                  
                    </tr>
                </tbody>
            </table>
            <div ng-show="library.showRating">
                <div ng-model="library.currentBook" style="display:none;"></div>
                <div ng-bind="library.currentBook.Name+' '+library.currentBook.Author" style="color: beige;"></div><br>                
                <div>
                    <span style="color: beige;">Насколько понравилась? </span>
                    <select id="id-rating-mark" ng-model="library.ratingMark" style="color: darkred;">
                        <option ng-repeat="rating in library.arrRating" value="{{rating}}">{{rating}}</option>
                    </select>
                </div><br>
                <div>
                    <span style="color: beige;">Оставьте комментарий: </span>
                    <input id="id-rating-comment" type="text" ng-model="library.ratingComment" style="color: darkred;"><br><br>
                    <button ng-click="library.putRating(library.currentBook.Id, library.ratingMark, library.ratingComment)" style="color: darkred;">Оцениваю</button>
                </div>
            
        </div>
            <div ng-show="library.showMarking">
                <span ng-bind="library.markResult.BookName+' '+library.markResult.BookAuthor" style="color:beige;font-size:larger"></span><br><br>                
                <table class="table" style="color: darkred;background-color: beige;">
                    
                        <tr>                            
                            <th>Оценка</th>
                            <th>Комментарий</th>
                        </tr>
                    
                        <tr ng-repeat="mark in library.markResult.ratings">
                            <td ><span ng-bind="mark.RatingMark"></span></td>
                            <td ><span ng-bind="mark.RatingComment"></span></td>
                        </tr>
                    
                </table><br>
                <a ng-click="library.takeBook(library.markResult.BookId)" style="color:beige;font-size:larger;" ng-show="library.markResult.IsInLibrary"><span>Взять</span></a><br>
                <a ng-click="library.returnBook(library.markResult.BookId)" style="color:beige;font-size:larger;" ng-hide="library.markResult.IsInLibrary"><span>Вернуть книгу</span></a><br>
                <a ng-click="library.selectLibrary(library.libId)" style="color:beige;font-size:larger;"><span>Вернуться к списку книг</span></a><br>
            </div>
    </div>    
    </div>
    
</div>
