@using System.Security.Claims

@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage" style="color:black">Читатель @User.GetUserName()</a>
            </li>
            <li>                
                <button type="submit" class="btn btn-link navbar-btn navbar-link"><span style="color:black;font:130% serif;" >Выйти</span></button>                
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register" style="color:black">Зарегистрироваться</a></li>
        <li><a asp-controller="Account" asp-action="Login" style="color:black">Войти</a></li>
    </ul>
}
